/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

p {
  margin: 0;
  padding: 0;
}

.format-outline {
  box-shadow: 1px 1px 2px black;
}